/* todo add font-family: 'leaguespartan', sans-serif; */
body {
    margin: 0;
    font-family: 'leaguespartan', sans-serif;
    color: white;
}

/* Fondo */
.landing-bg {
    background-image: url('/assets/landing_bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
    font-size: 3.125rem;
}

.nav-link {
    color: white;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #bdbfc2;
    /* gris clarito */
    text-decoration: underline;
}

/* Contenido */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 2.5rem;
    max-width: 64rem;
    margin-left: 20.5rem;
    /* Espacio para el navbar */
}

.title-container {
    margin-bottom: 1.5rem;
    margin-left: 12.5rem;
}

.welcome-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.idea-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    color: white;
}

@media (min-width: 768px) {
    .idea-title {
        font-size: 4rem;
    }

    .welcome-text {
        font-size: 2rem;
    }
}


.highlight {
    font-weight: 800;
    color: white;
}

/* Caja de texto */
.intro-box {
    background-color: rgba(255, 255, 255, 0.2);
    width: 930px;
    height: 300px;
    border-radius: 31% 69% 50% 50% / 33% 61% 39% 67%;
    padding: 2rem;
    max-width: 32rem;
    backdrop-filter: blur(6px);
    margin-bottom: 2rem;
}

.intro-box p {
    margin-bottom: 1rem;
    margin-left: 3rem;
    line-height: 1.5;
}

/* Botón */
.button-container {
    width: 100%;
    margin-left: 13rem;
    margin-top: 2rem;
}

.start-button {
    background-color: #7c3aed;
    /* púrpura */
    color: white;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-size: 1.125rem;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #6d28d9;
}